/*this.circle.attr({stroke: isSelected ? this.colors.strokeSelected : this.colors.strokeNormal});*/

/*this.circle.attr({fill: isHovered ? this.colors.fillSelected : this.colors.fillNormal});*/

/*this.colors = {*/
  /*strokeNormal: "#8E9BA2",*/
  /*strokeSelected: "#445964",*/
  /*fillNormal: "#fff",*/
  /*fillSelected: "#00e5ff"*/
/*};*/

/*circle.attr({strokeWidth: 4, stroke: this.colors.strokeNormal, fill: this.colors.fillNormal});*/

.walle .edge{
  stroke-width: 4;
  stroke: #8E9BA2;
  fill: white;
}

.walle .edge.selected{
  stroke: #445964;
}

.walle .edge.hover{
  fill: #00e5ff;
}
