.walle .hole {
  opacity: 0.6;
}

.walle .hole.attached {
  opacity: 0.9;
}

.walle.hole-feedback .hole.attached:hover line,
.walle.hole-feedback .hole.attached:hover path{
  stroke: #FFC107;
}


.walle .door line {
  stroke: black;
}

.walle .door path {
  stroke-width: 1;
  stroke: black;
  fill: none;
  stroke-dasharray: 3, 1;
}


.walle .window line{
  stroke: black;
}
