.walle .snap-element {
  opacity: 0.8;
  pointer-events: none;
}

.walle .snap-line {
  stroke-width: 1px;
  visibility: hidden;
}

.walle .snap-line.hover {
  visibility: visible;
  stroke: red !important;
  opacity: 1 !important;
}

.walle .snap-line.visible {
  visibility: visible;
  stroke: #ffc500;
}

.walle .snap-point {
  stroke-width: 1px;
  fill: red;
  stroke: red;
}

.walle .snap-overlay{
  fill: #000;
  pointer-events: none;
}
