
.walle .vertex{
  stroke-width: 1;
  stroke: #8E9BA2;
  fill: #8E9BA2;
}

.walle.vertex-feedback .vertex:hover{
  stroke: #FFC107;
  fill: #FFC107;
}

.walle .vertex.selected{
  stroke: #FFC107;
}

.walle .vertex.hover{
  fill: #00e5ff;
}
