.walle .wall {
  stroke: #8E9BA2;
}

.walle.wall-feedback .wall:hover{
  stroke: #FFC107;
}

.walle .wall.selected {
  stroke: #FFC107;
  pointer-events: none;
}

.walle .wall-distance {
  font-size: 11px;
  text-anchor: middle;
  font-family: 'Courier', monospace;
  pointer-events: none;
}
