.walle .wall {
  stroke: #8E9BA2;
  /*stroke: #333;*/
  stroke-width: 1px;
  fill: #e8e8e8;
}

.walle.wall-feedback .wall:hover{
  fill: #FFC107;
}

.walle .wall.selected {
  fill: #FFC107;
  pointer-events: none;
}

.walle .wall-distance {
  font-size: 11px;
  text-anchor: middle;
  font-family: 'Courier', monospace;
  pointer-events: none;
}
