.walle{
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size: inherit !important;
  margin-left: 0 !important;
}


.selection-rect{
  stroke: #A2ABFD;
  stroke-width: 1px;
  fill: #F3F4FF;
  opacity: 0.5;
  pointer-events: none;
}
