@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-access9:before {
	content: "\e000";
}
.flaticon-arrow68:before {
	content: "\e001";
}
.flaticon-basket33:before {
	content: "\e002";
}
.flaticon-clicking1:before {
	content: "\e003";
}
.flaticon-computer196:before {
	content: "\e004";
}
.flaticon-draft:before {
	content: "\e005";
}
.flaticon-eraser11:before {
	content: "\e006";
}
.flaticon-eye110:before {
	content: "\e007";
}
.flaticon-gears:before {
	content: "\e008";
}
.flaticon-github17:before {
	content: "\e009";
}
.flaticon-graphicseditor81:before {
	content: "\e00a";
}
.flaticon-move24:before {
	content: "\e00b";
}
.flaticon-open203:before {
	content: "\e00c";
}
.flaticon-opened17:before {
	content: "\e00d";
}
.flaticon-plan1:before {
	content: "\e00e";
}
.flaticon-pointer32:before {
	content: "\e00f";
}
.flaticon-scroll8:before {
	content: "\e010";
}
.flaticon-social13:before {
	content: "\e011";
}
.flaticon-table41:before {
	content: "\e012";
}
.flaticon-testtube1:before {
	content: "\e013";
}
.flaticon-up13:before {
	content: "\e014";
}
.flaticon-visibility2:before {
	content: "\e015";
}
.flaticon-walls1:before {
	content: "\e016";
}
